<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Users</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
  <div class="container is-fluid has-background-black has-text-white">
    <%= render 'shared/header' %>
    <%= render 'shared/nav' %>

    <div class="field-container">
      <%= form_tag(users_path, method: :get) do %>
        <div class="field">
          <label class="label" for="search">Search for a user:</label>
          <div class="control">
            <input class="input" type="text" name="search" value="<%= params[:search] %>">
          </div>
          <div class="control">
            <button class="button is-link color-change" type="submit">Search</button>
          </div>
        </div>
      <% end %>
    </div>

    <% if @users.present? %>
      <div class="table-container">
        <table class="table is-fullwidth is-hoverable has-background-grey-darker has-text-white-ter">
          <thead>
            <tr>
              <th>Riot ID</th>
              <th>PUUID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.riot_id %></td>
                <td><%= user.puuid %></td>
                <td>
                  <%= link_to 'View Profile', user_path(user), class: "button is-small is-link" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No users found.</p>
    <% end %>

    <%= render 'shared/footer' %>
  </div>
</body>
</html>
