<h1>Users and Matches</h1>

<h1 class="title">Users and Matches</h1>

<%= form_tag(users_path, method: :get) do %>
  <div class="field">
    <label class="label" for="search">Search for a user:</label>
    <div class="control">
      <input class="input" type="text" name="search" value="<%= params[:search] %>">
    </div>
    <div class="control">
      <button class="button is-link" type="submit">Search</button>
    </div>
  </div>
<% end %>

<%= render 'components/card' %>

<% @users.each do |user| %>
  <h2 class="subtitle"><%= user.name %></h2>
  <p>Riot ID: <%= user.riot_id %></p>
  <ul>
    <% user.matches.each do |match| %>
      <li>
        <strong>Match ID:</strong> <%= match.match_id %>
        <strong>Game Type:</strong> <%= match.game_type %>
      </li>
    <% end %>
  </ul>
<% end %>


# create if-else
# cdn /bulma / bootstrap - goes to nearest server 
# create more pages
#  