<h1>Users and Matches</h1>

<%= form_tag(users_path, method: :get) do %>
  <%= label_tag(:search, "Search a user:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<% @users.each do |user| %>
  <h2><%= user.name %></h2>
  <p>Riot ID: <%= user.riot_id %></p>
  <ul>
    <% user.matches.each do |match| %>
      <li>
        <strong>Match ID:</strong> <%= match.match_id %>
        <strong>Game Type:</strong> <%= match.game_type %>
      </li>
    <% end %>
  </ul>
<% end %>

# create if-else
