<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page_title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container is-fluid has-background-black has-text-white">
    <%= render 'shared/header' %>
    <%= render 'shared/nav' %>

    <main id="information" class="section">
      <div class="container has-border-black">
        <h1 class="title">Match Details</h1>
        <p><strong>Match ID:</strong> <%= @match[:metadata] %></p>

        <h2 class="subtitle">Participants</h2>
        <table class="table is-fullwidth is-hoverable has-background-grey-darker has-text-white-ter">
          <thead>
            <tr>
              <th>Riot ID</th>
              <th>Champion</th>
              <th>Placement</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'matches_table_row', collection: @participants, as: :participant %>
          </tbody>
        </table>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </div>
</body>
</html>
