<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page_title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container is-fluid has-background-black has-text-white">
    <%= render 'shared/header' %>
    <%= render 'shared/nav' %>

    <div class="field-container">
      <h1 class="title">Profile of <%= @user.riot_id %></h1>
      <br>

      <table class="table is-fullwidth is-hoverable has-background-grey-darker has-text-white-ter">
        <thead>
          <th>Recent Matches</th>
          <tr>
            <th>Match ID</th>
            <th>Date</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <% @recent_matches.each do |match| %>
            <tr>
              <td><%= match[:metadata] %></td>
              <td><!-- Add match date here if available --></td>
              <td><!-- Add match result here if available --></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render 'shared/footer' %>
  </div>
</body>
</html>
