<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page_title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="container is-fluid has-background-black has-text-white">
    <%= render 'shared/header' %>
    <%= render 'shared/nav' %>
    <main id="information" class="section">
      <div class="container has-border-black">
        <h1 class="title"><%= @user.riot_id %></h1>
        <h2 class="subtitle">Recent Matches</h2>
        <% if @recent_matches.present? %>
          <table class="table is-fullwidth is-hoverable has-background-grey-darker has-text-white-ter">
            <thead>
              <tr>
                <th>Match ID</th>
              </tr>
            </thead>
            <tbody>
              <% @recent_matches.each do |match| %>
                <tr>
                  <td>
                  <%= link_to match[:metadata], match_user_path(match[:metadata]), class: "has-text-link" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No recent matches found</p>
        <% end %>
      </div>
    </main>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
